<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/rateParking.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!--<script src="{{ url_for('static' , filename='scripts/home.js') }}"></script> -->
    <body>
        <form method="POST" action="" enctype="multipart/form-data">
            <div class="container">
                <h1 class="title"> Lime Parking Verification </h1>
                {%if result is defined and result %}
                <h2 class="subtitle">{{ results }}</h2>
                {% endif %} 
                <h2 class="subtitle">You parked your lime terribly.</h2> 
            </div>
            <div class="container">
                {%if imagePath is defined and imagePath %}
                {% set imgurl = url_for( 'static', filename=imagePath) %}
                <div class="pictureBox" id = pictureBox>
                    <img id="actualImage" src="{{ imgurl }}" alt="" />
                </div>
                {% endif %}
            </div>
            <div class="container">
                {% if done is defined and done %}
                {% else %}
                <div class="subtitle">
                    Do you want to check another another parked Lime?
                </div>
                <div class="buttonDiv">
                    <input id='yesButton' class='uploadButton' type='submit' name='submit' value='Yes'>
                </div>
                <div class="buttonDiv">
                    <input id='noButton' class='uploadButton' type='submit' name='submit' value='No'>
                </div>
                {% endif %}
            </div>
        </form>
    </body>
</html>